$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "colors";


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.search-results 
{
  li:not(:only-child) {
    border-bottom: 1px solid $divider-color;
  }

  li {
    list-style: none;
    padding: 10px;

    a {
      color: black;
    }

    span {
      color: #757575;
    }

    p {
      padding-top:5px;
      padding-bottom:5px;
      color: #757575;
    }
  }
}

a {
  text-decoration: none !important;
}

a:hover {
  color: $primary-color !important;
}

h3 {
  font-size: 18px;
}

footer {
  bottom: 0px;
  padding: 40px;
  background-color: $accent-color;
  color: $primary-text-color;
  width: 100%;
  margin-top: 40px;
}