<div class="container">

    <div class="jumbotron text-center">
        <h1>Plugger Web</h1>
    </div>

    <div>
        <div class="text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="text-center form-control" placeholder="Search field" ng-model="formData.module">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="getModules()">Search</button>
            </form>
        </div>
    </div>

</div>