<div class="container">
    <div class="jumbotron">
        <h1 align="center">Plugger</h1>
        <br>
        <div id="module-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Módulo" ng-model="formData.value">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="getModules()">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="module-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div ng-repeat="module in modules">
				<label>
					{{module.name}}
				</label>
			</div>
        </div>
    </div>
</div>